img {
    height: 500px;
    width: auto;
}
body {
    display: flex;             
    align-items: flex-start;    
    gap: 20px;                  
    margin: 20px;
}
.game-display {
    position: relative;
    display: flex;
    flex-direction: column;     
    align-items: center;
    background: url("images/background.png");
    background-repeat: repeat-x;
    background-size: cover;
    animation: moveBg 10s linear infinite;
}
@keyframes moveBg {
    from { background-position: 0 0; }
    to { background-position: -500px 0; } 
}
.upgrade {
    background: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.display p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 5px 0;
    background-color: rgb(167, 94, 5);
    color: rgb(255, 255, 255);
}
#stall .upgrade {
    background: rgba(245, 196, 104, 0.7); /
    border: 1px solid #cccccc;               
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #000;                           
}
